<div class="container__small-card">
	<div class="small-card__photo">
		<img src="{{ cardPhoto }}" alt="image not found" width="100%" />
	</div>
	<div class="small-card__info">
		<div class="small-card__title">
			<a
				[routerLink]="['/content', Id]"
				routerLinkActive="router-link-active"
				>{{ cardTitle }}</a
			>
		</div>
		<div class="small-card__description">
			<p>
				<a
					[routerLink]="['/content', Id]"
					routerLinkActive="router-link-active"
				>
					{{ cardDescripton }}
				</a>
			</p>
		</div>
	</div>
</div>
