.container__small-card {
	display: flex;
	flex-direction: row;
	width: 60%;
	padding-left: 10px;
	padding-bottom: 10px;
}

.small-card__info {
	margin-left: 10px;
}

.small-card__title {
	font-size: 20px;
}

.small-card__description > p > a {
	color: gray;
}
