.container__content {
    width: 100%;
    height: 100%;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.content__cover > img {
    border: 4px solid rgba(99, 99, 99, 0.11);
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}

.content__description {
    margin-top: 15px;
}

.content__description > p {
    color: rgb(163, 163, 163);
}