<app-menu-title></app-menu-title>

<div class="container__articles">
	<div class="articles__main">
		<app-big-card
			Id="1"
			cardPhoto="https://i.em.com.br/mlNy6lHlVyE6VLUtR7_8uqSlMqg=/1200x675/smart/imgsapp.em.com.br/app/noticia_127983242361/2023/04/17/1482152/personagens-peni-parker-spider-gwin-peter-porker-miles-morales-peter-parker-e-spider-man-noir-protagonistas-da-animacao-homem-aranha-atraves-do-aranhaverso-parte-um_1_101261.jpg"
			cardTitle="Filme Homem Aranha"
			cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore minus harum tempora, ipsam, ab laborum cum cumque numquam impedit nulla veritatis magni hic cupiditate vero debitis commodi, optio neque sequi?"
		></app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card
			Id="2"
			cardPhoto="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg"
			cardTitle="Example"
			cardDescripton="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque unde ex ipsam! Optio cum, debitis itaque unde vitae, nisi culpa animi porro sed quas explicabo quibusdam soluta officia eligendi necessitatibus."
		></app-small-card>
	</div>
</div>